@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');
.titulo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #38b6ff;
    border-radius: 4px;
}
body{
font-family: 'Special Gothic', sans-serif;
margin: 0 auto;
background-color: #e0e3e6;
padding: 15px;
}
.lista{
    font-size: 20px;
    color: black;
}
a{
    display: block;
    width: 250px; 
    text-align: center; 
    font-size: 24px;
    padding: 15px 30px;
    background-color: #38b6ff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

img{
    padding: 60px;
}